.page-header {
    width: 100%;
    height: fit-content;
    display: flex;
    margin: 0 auto 0;
    background-image: url("../../assets/herobg.png");
    background-size: cover;
    height: 300px;
    justify-content: center;
}

.page-container {
    width: 1200px;
    height: fit-content;
    margin: 0 auto 0;
    position: relative;
    font-family: var(--font-default);
    font-size: 1rem;
    padding: 15px 15px;
}

.aboutpage h3 {
    font-size: 2rem;
}

.aboutpage p {
    font-size: 1.2rem;
    line-height: 2rem;
}

.profileTitle {
    border-bottom: 1px solid var(--color-header);
    padding: 0;
    color: var(--color-header);
    margin-top: 50px;
}

.profilename {
    font-weight: 500;
    font-size: 0.7rem;
    color: #858585;
    margin: 0;
}
.profileData p {
    font-weight: 600;
    margin: 0 0 10px 0;
}
.caption {
    font-size: 0.6rem !important;
    margin: 0 0 20px !important;
    line-height: 0 !important;
    color: var(--color-header);
}

#light .aboutpage .content p {
 color: var(--color-text-light);
}

#dark .aboutpage .content p {
    color: var(--color-text);
   }

.tech-stack-icons {
    display: flex;
    flex-wrap: wrap;

} 

.tech-stack-icons img {
    height: 50px;
    background-color: #fff;
    padding: 20px;
    margin-right: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    pointer-events: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}




/** Timeline CSS */
/* Timeline Container */
.timeline {
    background: var(--primary-color);
    margin: 20px auto;
    padding: 20px;
  }
  
  /* Card container */
  .card {
    position: relative;
    max-width: auto;
    padding: 30px;
  }
  
  /* setting padding based on even or odd */
  .card:nth-child(odd) {
    padding: 30px 0 30px 30px;
  }
  .card:nth-child(even) {
    padding: 30px 30px 30px 0;
  }
  /* Global ::before */
  .card::before {
    content: "";
    position: absolute;
    width: 50%;
    border: solid var(--color-header);
  }
  
  /* Setting the border of top, bottom, left */
  .card:nth-child(odd)::before {
    left: 0px;
    top: -4.5px;
    bottom: -4.5px;
    border-width: 5px 0 5px 5px;
    border-radius: 50px 0 0 50px;
  }
  
  /* Setting the top and bottom to "-5px" because earlier it was out of a pixel in mobile devices */
  @media only screen and (max-width: 400px) {
    .card:nth-child(odd)::before {
      top: -5px;
      bottom: -5px;
    }
  }
  
  /* Setting the border of top, bottom, right */
  .card:nth-child(even)::before {
    right: 0;
    top: 0;
    bottom: 0;
    border-width: 5px 5px 5px 0;
    border-radius: 0 50px 50px 0;
  }
  
  /* Removing the border if it is the first card */
  .card:first-child::before {
    border-top: 0;
    border-top-left-radius: 0;
  }
  
  /* Removing the border if it is the last card  and it's odd */
  .card:last-child:nth-child(odd)::before {
    border-bottom: 0;
    border-bottom-left-radius: 0;
  }
  
  /* Removing the border if it is the last card  and it's even */
  .card:last-child:nth-child(even)::before {
    border-bottom: 0;
    border-bottom-right-radius: 0;
  }
  
  /* Information about the timeline */
  .info {
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    color: gray;
    border-radius: 10px;
    padding: 10px;
  }
  
  /* Title of the card */
  .title {
    color: var(--color-header);
    position: relative;
    font-size: 1.2rem !important;
  }

  .title span {
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--color-header);
  }

  /* Timeline dot  */
  .title::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    border: 3px solid var(--color-header);
  }
  
  /* text right if the card is even  */
  .card:nth-child(even) > .info > .title {
    text-align: right;
  }
  
  /* setting dot to the left if the card is odd */
  .card:nth-child(odd) > .info > .title::before {
    left: -45px;
  }
  
  /* setting dot to the right if the card is odd */
  .card:nth-child(even) > .info > .title::before {
    right: -45px;
  }