.navTitle a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 400;
}

#light .navTitle {
    color: var(--color-text-light);
}

#dark .navTitle {
    color: var(--color-text);
}

.navbar {
    position: absolute;
    height: 100px;
    padding: 0 120px;
    margin: 0 auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    left: 50%;
    transform: translate(-50%, 0);
}