.footer {
    min-height:600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer h1 {
    font-weight: 100;
}
#light .footer h1 {
    color: var(--color-text-light);
}

#dark .footer h1 {
    color: var(--color-text);
}
.footer h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    color: #d63031;
}



.footer svg {
    margin: 0 20px;
    font-size: 30px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.footer svg:hover {
    color: #fff;
}

#light .footer svg {
    color: var(--color-text-light);
}

#dark .footer svg {
    color: var(--color-text);
}