@import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');

.about_section {
    padding-top: 160px;
    display: flex;
    height: 600px;
    width: 1200px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto 0;
}


.myImageAbout {
    width: auto;
    height: 500px;
    pointer-events: none;
}

@media screen and (max-width:900px) {
    .myImageAbout {
        height: 400px;
    }
}

.about_image button {
    transform: translateY(-100px);
}

.about_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
}

.about_container p {
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
}
#dark .about_container p{
    color: var(--color-text);
}

#light .about_container p {
    color: var(--color-text-light);
}

.about_container h1 {
    font-family: 'Gasoek One', sans-serif;
    margin-top: 0px;
    font-weight: 100;
    color: var(--color-header);
    font-size: 5rem;
    line-height: 0;
    margin-left: -80px;
    z-index: 1;
}

.floater {
    width: max-content;
    height: 200px;
    position: absolute;
    bottom: -100px;
    right: 30px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: float 2s linear infinite;
}

@keyframes float {
    0% {

        transform: rotate(0deg);
    }

    25% {

        transform: rotate(5deg);
    }
    50% {
        
        transform: rotate(0deg);
    }
    75% {
        
        transform: rotate(-5deg);
    }

    100% {

        transform: rotate(0deg);
    }
}

.floater p {
    margin-top: -40px;
    font-family: 'Whisper', cursive;
    font-size: 3rem;
}

#light .floater p {
    color: var(--color-text-light);
}

#dark .floater p {
    
  color: var(--color-text);
}
#light .floater img {
    filter: none;
}

#dark .floater img {
    filter: hue-rotate(0deg) invert(80%);
}
.floater img {
    width: 150px;
    height: 150px;
    transform: rotate(95deg);
}